@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './menu';


@font-face {
    font-family: 'Signore';
    src: url('~@fonts/signore/Signore_Serif_Typeface.otf'),
        url('~@fonts/signore/Signore_Serif_Typeface.woff2') format("woff2"), 
        url('~@fonts/signore/Signore_Serif_Typeface.woff') format("woff"), 
        url('~@fonts/signore/Signore_Serif_Typeface.ttf') format("truetype");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'RedactionRegular';
  src: url('~@fonts/redaction/Redaction-Regular.otf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedactionBold';
  src: url('~@fonts/redaction/Redaction-Bold.otf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jenson';
  src: url('~@fonts/jenson/Jenson-Pro-Regular.otf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
} 

// Variables
$links: #2B9EB3;
$headers: #1B1B1E;
$body: #707070;
$borders: #E0E0E0;
$emphasis: #FFC857;
$textcolor: #2D3441;

.border-default {
  @apply border border-gray-200 rounded-t-md bg-white shadow-lg;
}

.wrap {
  padding: 1rem;
}

.banner {
  box-shadow: 0 2px 22px 0 rgba(0,0,0,.06);
}

figure.imgpost {
  overflow: hidden;
}

img:not(.featured-singleimg .wp-post-image, .sidebar img, .post .e-content img, .page-header img) {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:not(.featured-singleimg .wp-post-image, .sidebar img, .post .e-content img, .page-header img):hover {
  filter: sepia(70%);
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}


body {
    // font-family: 'Lato', sans-serif;
    // font-family: 'Roboto Serif', serif;
    font-family: 'Noto Serif', serif;
    color: $textcolor;
    // background-color: #f5f5f5;  
}

::selection {
    @apply bg-IHazul;
}

h1 {
    font-family: 'Jenson', serif;
    font-size: 2.75rem;
    line-height: 3.25rem;
}

h2,
h3,
h4,
.crp_title,
.wpp-post-title,
.rt-reading-time,
.excerpt,
.recent-posts li a,
.categories,
.postslinks,
.p-author,
.heading-category,
.menu-categorias-menu-container,
.pagemenu,
#menu-pages-menu-1,
.dt-published {
    font-family: 'Lato', sans-serif;
    // font-family: 'Noto Serif', serif;
}

.wpp-post-title {
  @apply text-base lg:text-lg mt-2;
}

.category-name,
.e-content h2,
.e-content h3,
.e-content h4,
.article_categories a,
.crp_related_shortcode h3 {
    font-family: 'Jenson', serif;
}

// h3 {
//     font-size: 1.5rem;
// }

figure.wp-caption {
    width: 100% !important;
}

// links

.postslinks,
.article_categories a,
.wp-block-tag-cloud a,
.entry-title a,
.category-name a,
.category-description a,
.categories a,
.e-content a,
.recent-posts li a,
.crp_title {  
    text-decoration: none;
    &:hover {
        @apply no-underline hover:underline hover:text-sky-600;
    }    
}

.post .e-content a:not(.sidebar a, .crp_related a) {
  @apply underline text-sky-600 hover:text-sky-900;
}

.widget_block {
    margin-top: 1.5rem;
    h2,
    h3 {
        @apply category-name inline-block text-xl mb-0 text-red-700;

        font-family: 'Jenson', serif;
    }
}

// categorias cores borda

.category-name {
  @apply uppercase font-bold text-lg md:text-xl inline-block;

  color: #151829;
}

// @mixin border-category {
//   position: relative;

//   &::before {
//     /* Highlight color */
//     // background-color: #46b96c;
  
//     content: "";
//     position: absolute;
//     // width: calc(100% + 25px);
//     // height: 80%;
//     // left: -5px;
//     // bottom: 0px;
//     // z-index: -1;
//     // transform: rotate(-3deg);
//     width: calc(100% + 3rem);
//     height: 5px;
//     left: 0px;
//     bottom: -3px;
//     z-index: -1;
//     transform: rotate(0deg);
//   }

// }

// #curiosidades-listas .category-name strong {
//   @include border-category;
  
//   &::before {
//     @apply bg-ihcurioslistas;
//   }

// }

// #historia-brasil,
// #direitos-humanos,
// #batalhas-historicas {
//   .category-name strong {
//     @include border-category;
    
//     &::before {
//       @apply bg-ihbrasil;
//     }
  
//   }
// }

// #crime-organizado,
// #guerras,
// #periodos {
//   .category-name strong {
//     @include border-category;
    
//     &::before {
//       @apply bg-ihcrime;
//     }
  
//   }
// }



// @mixin border-category {
//   &::after {
//     border: solid;
//     border-width: 4px;
//     content: "";
//     display: block;
//     width: 125%;
//     position: relative;
//     bottom: 3px;
//   }
// }

// #curiosidades-listas .category-name {
//   @include border-category;

//   &::after {
//     @apply border-ihazulesc;
//   }

// }

// #historia-brasil .category-name {
//   @include border-category;

//   &::after {
//     @apply border-ihverde;
//   }

// }

  // &::after {
  //   @apply border-IHazul border-solid border-b-4;

  //   content: "";
  //   display: block;
  //   width: 25%;
  //   position: relative;
  //   bottom: -6px;
  // }


  // &::after {
  //   content: "";
  //   display: block;
  //   border-bottom: 1px solid orange;
  //   width: 25%;
  //   position: relative;
  //   bottom: -6px;
  // }

// single posts, comments

.e-content {
  figure:first-of-type {
    display: none;
  }
}

.rt-reading-time {
  @apply text-sm;
}

#comment {
    width: 100%;
  }

  .crp_related_shortcode
  h3 {
    @apply category-name inline-block text-2xl mb-4 text-red-700;
  } 
  .row {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8
  }

// Pagination
.pagination {
    @apply text-red-700 my-14;


    h2 {
      color: inherit;
    }

    .nav-links {
      color: inherit;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      a {
        color: inherit;
      }

      .page-numbers:not(.prev):not(.next) {
        @apply border-r-2 border-red-700;

        padding: 0 1rem 0 1rem;
      }
      
      .next.page-numbers {
        padding-left: 1rem;
      }

      .current {
        font-size: large;
        font-weight: bolder;
      }
    }
  }

// Footer
.sitemap-footer {
    ul.sub-menu {
        padding-left: 1rem;
    }
}