@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './menu';
@import "./arrowcdtop.scss";


@font-face {
    font-family: 'Signore';
    src: url('~@fonts/signore/Signore_Serif_Typeface.otf'),
        url('~@fonts/signore/Signore_Serif_Typeface.woff2') format("woff2"), 
        url('~@fonts/signore/Signore_Serif_Typeface.woff') format("woff"), 
        url('~@fonts/signore/Signore_Serif_Typeface.ttf') format("truetype");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'RedactionRegular';
  src: url('~@fonts/redaction/Redaction-Regular.otf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedactionBold';
  src: url('~@fonts/redaction/Redaction-Bold.otf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jenson';
  src: url('~@fonts/jenson/Jenson-Pro-Regular.otf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
} 

// Variables
$links: #2B9EB3;
$headers: #1B1B1E;
$body: #707070;
$borders: #E0E0E0;
$emphasis: #FFC857;
$textcolor: #2D3441;

// Logo
.banner .brand svg {
  fill: black;
}

footer.content-info .brand svg {
  fill: white;
}

.border-default {
  @apply border border-gray-200 rounded-t-md bg-white shadow-lg;
}

.wrap {
  padding: 1rem;
}

.banner {
  box-shadow: 0 2px 22px 0 rgba(0,0,0,.06);
}

figure.imgpost {
  overflow: hidden;
}

img:not(.featured-singleimg .wp-post-image, .sidebar img, .post .e-content img, .page-header img) {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:not(.featured-singleimg .wp-post-image, .sidebar img, .post .e-content img, .page-header img):hover {
  filter: sepia(70%);
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}


body {
  @apply text-ihcor;

    // font-family: 'Lato', sans-serif;
    // font-family: 'Roboto Serif', serif;
    font-family: 'Noto Serif', serif;
    // background-color: #f5f5f5;
    // background-color: #f8f9fa;  
}

::selection {
    @apply bg-IHazul;
}

h1 {
    font-family: 'Jenson', serif;
    font-size: 2.75rem;
    line-height: 3.25rem;
}

h2,
h3,
h4,
.crp_title,
.wpp-post-title,
.rt-reading-time,
.excerpt,
.sidebar li a,
.categories,
.postslinks,
.span-title,
.p-author,
.heading-category,
.menu-categorias-menu-container,
.pagemenu,
#menu-pages-menu-1,
.breadcrumb,
.wpcf7,
.copyright,
.menu-footer-container,
#search-navbar, 
.dt-published {
    font-family: 'Lato', sans-serif;
    // font-family: 'Noto Serif', serif;
}

.wpp-post-title {
  @apply text-base lg:text-lg mt-2;
}

.category-name,
.sidebar-name,
.e-content h2,
.e-content h3,
.e-content h4,
.article_categories a,
.button,
.crp_related_shortcode h3 {
    font-family: 'Jenson', serif;
}

// h3 {
//     font-size: 1.5rem;
// }

figure.wp-caption {
    width: 100% !important;
}

// links

.postslinks,
.article_categories a,
.wp-block-tag-cloud a,
.entry-title a,
.category-name a,
.category-description a,
.categories a,
.e-content a,
.recent-posts li a,
.breadcrumb a,
.crp_title {  
    // text-decoration: none;
    &:hover {
        @apply no-underline hover:underline hover:text-sky-600;
    }    
}

.post .e-content a:not(.sidebar a, .crp_related a) {
  @apply underline text-sky-600 hover:text-sky-900;
}

.widget_block {
    margin-top: 1.5rem;
    h2,
    h3 {
        @apply sidebar-name inline-block text-xl mb-0 text-ihcat;

        font-family: 'Jenson', serif;
    }
}

// categorias cores borda

.category-name,
.sidebar-name {
  @apply uppercase font-bold text-lg inline-block text-ihcat;
}

.category-name::before {
  @apply border-l-4 border-l-ihcat pl-2;

  content: "";
  position: relative;
  bottom: 2px;
}

figure.wp-caption:first-of-type {
  @apply border-b border-dashed pb-4;
}

// images background pages



.comments {
  h2 {
    margin: 0;
  }
}

.comments {
  textarea,
  .comment-form-email input,
  .comment-form-author input {
    @apply rounded-lg block text-gray-900 border border-gray-300 bg-gray-50;
  }

  .form-submit {
    @apply bg-ihcat hover:bg-ihcat text-xl text-white font-bold py-3 px-4 rounded button w-48 transform hover:scale-110 transition duration-300 ease-in-out;
  }
}


#comment {
    width: 100%;
  }

  .crp_related_shortcode
  h3 {
    @apply sidebar-name inline-block text-2xl mb-4 text-ihcat;
  } 
  .row {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8;
    
    padding-left: 0 !important;
    list-style: none !important;
  }

// Pagination
.pagination {
    @apply text-ihcat my-14;


    h2 {
      color: inherit;
    }

    .nav-links {
      color: inherit;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      a {
        color: inherit;
      }

      .page-numbers:not(.prev):not(.next) {
        @apply border-r-2 border-ihcat;

        padding: 0 1rem 0 1rem;
      }
      
      .next.page-numbers {
        padding-left: 1rem;
      }

      .current {
        font-size: large;
        font-weight: bolder;
      }
    }
  }

// Footer
.sitemap-footer {
    ul.sub-menu {
        padding-left: 1rem;
    }
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}

footer.content-info {
  .wpcf7 {
    input[type=text],
    input[type=email],
    textarea {
      @apply w-full md:w-3/4 rounded-lg text-black;
  
    }
    textarea {
      height: 10rem;
    }
    .wpcf7-submit {
      @apply bg-ihcat hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
    }
  
  }
  
  .footer-right {
    #search-navbar {
      // @apply w-full md:w-3/4;
  
      // background-color: #2B9EB3;
    }
  }

  li.menu-item {
    line-height: 2;
  }

  ul.sub-menu {
    margin-bottom: 1rem;
  }
}

.sitemap-footer,
.menu-categorias-menu-container>ul {
  >.menu-item>a {
    font-weight: bold;
  }
  
}

.sidebar {
  .imgpost {
    .wp-post-image {
      object-fit: cover;
      width: auto;
      height: 5rem;
    }
  }
}

