@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './menu';


@font-face {
    font-family: 'Signore';
    src: url('~@fonts/signore/Signore_Serif_Typeface.otf'),
        url('~@fonts/signore/Signore_Serif_Typeface.woff2') format("woff2"), 
        url('~@fonts/signore/Signore_Serif_Typeface.woff') format("woff"), 
        url('~@fonts/signore/Signore_Serif_Typeface.ttf') format("truetype");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

body {
    // font-family: 'Lato', sans-serif;
    // font-family: 'Roboto Serif', serif;
    font-family: 'Noto Serif', serif;
}

h1 {
    font-family: 'Signore', serif;
    font-size: 2.75rem;
    color: #212937;
    line-height: 3.25rem;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;
    // font-family: 'Noto Serif', serif;
}

.category-name {
    font-family: 'Signore', sans-serif;
}

// h3 {
//     font-size: 1.5rem;
// }

figure.wp-caption {
    width: 100% !important;
}

.tagcloud a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.widget_tag_cloud {
    h3 {
        @apply inline-block text-2xl mb-4 text-red-700;

        font-family: 'Signore', sans-serif;
    }
}