#header {
  #logo {
    @apply relative;

    transition: 0.2s;
    /* Add a transition effect (when scrolling - and font size is decreased) */
    transform: translate(0, 0);
    /* Add a transform effect */

    #logosvg {
      @apply w-auto;
    }
  }

  #menupages {
    @apply hidden lg:block;
  }

  &.shrink {
    #logo {
      @apply top-8 relative;

      // background-color: green;
      transform: translate(0, -20px);
      /* Add a transform effect */
      transition: 0.2s;

      #logosvg {
        @apply w-24 relative bottom-4;
      }
    }

    #menupages {
      @apply hidden;
    }
  }


}

.menu-categorias-menu-container {
  @apply bg-transparent w-full;

  // box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.2);

  ul#menu-categorias-menu {

    li {
      margin-bottom: 0.5rem;
    }


    .sub-menu {
      // @apply bg-transparent ml-4 border border-solid border-gray-400 pt-4 pl-4 w-11/12 ;
      @apply bg-transparent ml-4 pt-2 w-11/12;

      margin-left: 1rem;
    }

    li>a:not(:last-child)::after {
      content: " ▾";
    }

  }

}

@screen xl {

  .menu-categorias-menu-container {
    box-shadow: none;

    ul#menu-categorias-menu {

      li {
        margin-bottom: 0;
        position: relative;

        a {
          transition: color 0.2s, border-bottom-color 0.2s;
          position: relative;

          &:hover::before {
            @apply border-l-4 border-l-ihcat absolute bottom-0 -left-2 h-full;

            content: "";
          }
        }
      }

      .sub-menu {
        @apply rounded-lg bg-white w-full;

        margin-left: 0;
        display: none;
        position: absolute;
        top: 1.5rem;
        left: 0;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        // min-width: 15rem;
        // max-width: 25rem;
        width: auto;
        white-space: nowrap;
        transition: all 0.5s ease;
        // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 0.5rem 1rem 1rem 1rem;

        li {
          margin-bottom: 0.5rem;
        }
      }

      li:hover>ul,
      li:focus-within>ul,
      li ul:hover,
      li ul:focus {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }

    li {
      position: relative;
      // transition-duration: 0.5s;

      ul li {
        clear: both;
        width: 100%;
      }

      &:focus-within a {
        outline: none;
      }

      &:hover,
      &:focus-within {
        cursor: pointer;
      }
    }
  }
}

// menu categories
.page_item {
  margin-bottom: 0.5rem;
}

// @media (max-width: 767px) {
//   .menu-item-has-children > :not(.sub-menu) {
//     font-size: 1.2rem;
//   }
// }

// Menu footer

// hover border-left effect
.pagemenumobile,
.pagemenudesktop,
.sitemap-footer,
.nav {
  li.menu-item a {
    position: relative;

    &:hover::before {
      @apply border-l-4 border-l-ihcat absolute top-0 -left-2 h-5;

      content: "";
    }
  }
}

// border-left effect li actual page
.nav,
.pagemenumobile,
.pagemenudesktop {
  .current-menu-item>a {
    position: relative;

    &:before {
      @apply border-l-4 border-l-ihcat absolute top-0 -left-2 h-5;

      content: "";
    }
  }
}

// border-left effect on footer li actual page
.sitemap-footer .current-menu-item>a {
  position: relative;

  &:before {
    @apply border-l-4 border-l-ihcat absolute top-0 -left-2 h-5;

    content: "";
  }
}