@tailwind base;
@tailwind components;
@tailwind utilities;

@import './menu';
@import "./arrowcdtop.scss";


// For posts headings
@font-face {
  font-family: 'Jenson';
  src: url('~@fonts/jenson/Jenson-Pro-Regular.otf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

// For headings on cards
@font-face {
  font-family: 'Lato';
  src: url('~@fonts/Lato/Lato-Regular.ttf') format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

// For headings on cards
@font-face {
  font-family: 'Lato Bold';
  src: url('~@fonts/Lato/Lato-Bold.ttf') format("truetype");
  font-display: swap;
}

// For body text
@font-face {
  font-family: 'Open Sans';
  src: url('~@fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}


body {
  background-color: transparent;
 }


// Logo
.banner .brand svg {
  fill: black;

  &:hover {
    @apply fill-ihcat;
  }
}

article.type-post,
.border-default {
  @apply border border-gray-200 rounded-t-lg bg-white shadow-md hover:shadow-2xl;
}

.wrap {
  padding: 1rem;
}

.card {
  @apply border-default rounded-lg ;
}

figure.imgpost {
  overflow: hidden;
}

img:not(.featured-singleimg .wp-post-image, .sidebar img, .post .e-content img, .page-header img) {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:not(.featured-singleimg .wp-post-image, .sidebar img, .post .e-content img, .page-header img):hover {
  filter: sepia(70%);
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.page-header {
  img {
    @apply h-72 lg:h-thumb object-cover w-full;
  }
}


::selection {
    @apply bg-IHazul;
}

body,
.excerpt,
.category-description {
  @apply text-ihcor;

    // font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; /* Set the desired font weight */
}

.crp_title,
.wpp-post-title,
.rt-reading-time,
.sidebar li a,
.categories,
.span-title,
.p-author,
.heading-category,
.menu-categorias-menu-container,
.pagemenumobile,
#menu-pages-menu-1,
.sidebar article,
.breadcrumb,
.wpcf7,
.copyright,
.menu-footer-container,
.searchbar,
.logoh1,
.wp-block-tag-cloud,
.dt-published {
    font-family: 'Lato', sans-serif;
    // font-family: 'Signore', serif;
    // font-family: 'Noto Serif', serif;
}

h2,
h3,
h4,
.button {
  font-family: 'Lato Bold', sans-serif;
}

.category-name,
.sidebar-name {
  font-weight: bold;
}

.wpp-post-title {
  @apply text-base lg:text-lg mt-2;
}

.category-name,
.sidebar-name,
.tags-posts-title,
.article_categories a,
.category-post,
.crp_related_shortcode h3 {
    font-family: 'Jenson', serif;
}

h1 {
  font-family: 'Jenson', serif;
  font-size: 2.75rem;
  line-height: 3.25rem;
}

figure.wp-caption {
    width: 100% !important;
}

// links
.postslinks,
.article_categories a,
.wp-block-tag-cloud a,
.entry-title a,
.category-name a,
.category-description a,
.categories a,
.e-content a,
.sidebar article a,
.breadcrumb a,
.crp_title {  
    // text-decoration: none;
    &:hover {
        @apply no-underline hover:underline hover:text-sky-600;
    }    
}

a.tag-cloud-link {
  padding: 0rem 0rem 1rem 0rem;
}

.post .e-content a:not(.sidebar a, .crp_related a, .tags-posts a) {
  @apply underline text-sky-600 hover:text-sky-900;
}

.widget_block {
    margin-top: 1.5rem;
    h2,
    h3 {
        @apply sidebar-name inline-block text-xl mb-0 text-ihcat font-bold;

        font-family: 'Jenson', serif;
    }
}

// categorias cores borda
.category-name,
.tags-posts h3,
.sidebar-name {
  @apply uppercase text-lg inline-block text-ihcat;
}

.category-name::before {
  @apply border-l-4 border-l-ihcat pl-2;

  content: "";
  position: relative;
  bottom: 2px;
}

figure.wp-caption:first-of-type {
  @apply border-b border-dashed pb-4;
}

.comments {
  h2 {
    margin: 0;
  }
}

.comments {
  textarea,
  .comment-form-email input,
  .comment-form-author input {
    @apply rounded-lg block text-gray-900 border border-gray-300 bg-gray-50 focus:ring-ihcat focus:border-ihcat;
  }

  .form-submit {
    @apply bg-ihcat hover:bg-ihcat shadow-sm text-base text-white py-3 px-4 rounded button w-48 transform hover:scale-110 transition duration-300 ease-in-out;
  }
}


#comment,
input {
    width: 100%;
  }

  .crp_related_shortcode
  h3 {
    @apply sidebar-name inline-block text-2xl text-ihcat;
  } 
  .row {
    @apply grid grid-cols-2 xl:grid-cols-4 gap-2;
    
    padding-left: 0 !important;
    list-style: none !important;

    .crp_title {
      @apply text-base mt-2 inline-block;
    }
  }

// Pagination
.pagination {
    @apply text-ihcat my-14;


    h2 {
      color: inherit;
    }

    .nav-links {
      color: inherit;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      a {
        color: inherit;
      }

      .page-numbers:not(.prev):not(.next) {
        @apply border-r-2 border-ihcat;

        padding: 0 1rem 0 1rem;
      }
      
      .next.page-numbers {
        padding-left: 1rem;
      }

      .current {
        font-size: large;
        font-weight: bolder;
      }
    }
  }

// Footer
.sitemap-footer {
    ul.sub-menu {
        padding-left: 1rem;
    }
}

// .breadcrumb {
//   padding: 8px 15px;
//   margin-bottom: 20px;
//   list-style: none;
//   border-radius: 4px;
// }

footer.content-info {  
  position: relative;

  .container {
    &::before {
      @apply bg-bottom bg-contain lg:bg-desktop;

      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-image: url("../images/ihcropped.svg");
      background-repeat: no-repeat;
      // background-position: bottom 0px right 4rem;
      background-size: 20rem 25rem;
    }
  }

  li.menu-item {
    line-height: 3;
  }

  ul.sub-menu {
    margin-bottom: 1rem;
  }

    
  .footer-right {
    ul li svg {
      @apply fill-ihcompl;
    }
  }
}

.sitemap-footer,
.widget_block h3,
.menu-categorias-menu-container>ul {
  >.menu-item>a {
    font-weight: bold;
  }
  
}

.sidebar {
  .imgpost {
    .wp-post-image {
      object-fit: cover;
      width: auto;
      height: 5rem;
    }
  }
}

.grid-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
}

span.span-reading-time.rt-reading-time {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1rem;
}

// .google-auto-placed {
//   display: table-column-group;
// }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

iframe#_nbtads_alert {
  top: 25.5rem !important;
  left: 2rem;
}

// .prose blockquote {
//   border-left: 5px solid #e74c3c;
//   padding-left: 20px;
//   font-family: Georgia, serif;
//   font-size: 16px;
//   font-style: italic;
//   color: #333;
// }

// .prose blockquote cite {
//   display: block;
//   font-size: 14px;
//   font-style: normal;
//   color: #666;
//   margin-top: 10px;
// }

.prose blockquote {
  font-family: 'Georgia', serif;
  font-size: 1.2em;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  position: relative;
  color: #383838;
}

.prose blockquote::before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #7a7a7a;
}

.prose blockquote::after {
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
  color: #7a7a7a;
}

.prose blockquote span {
  display: block;
  font-size: 0.8em;
  margin-top: 10px;
  text-align: right;
  color: #555;
}

.prose blockquote {
  border-left: 4px solid;
  border-image: linear-gradient(to bottom, #8e9eab, #eef2f3) 1;
}




